/*
 * This is is imported by virtue of "sass.etc" in "app.json".
 */
/**
Header variables
*/
$header-bg: darken($base-color, 20);
/**
Navigation variables
*/
$navigation-bg: #fff7f0;
$navigation-item-selected: #ffffff;
/**
Dashboard variables
*/
$dashboard-title-bg: #eee;
$dashboard-title-color: rgba(0,0,0,0.8);
/**
Style rules
*/
#main-header {
    &-body {
        background: $header-bg;
    }
    .x-toolbar {
        background: $header-bg;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
#main-navigation {
    &-body {
        background-color: $navigation-bg;
    }
    table.x-grid-item {
        background: transparent;
        &.x-grid-item-selected {
            background-color: $navigation-item-selected;
        }
    }
}
#body {
    .x-grid-item-container {
        table {
            td.x-grid-cell {
                img {
                    display: none;
                }
            }
        }
    }
}
.x-panel.dashboard-panel {
    .x-panel-header {
        background-color: $dashboard-title-bg;
        .x-title-text {
            color: $dashboard-title-color;
        }
    }
}
@import './flags.scss';
