@mixin flag-icon($iso) {
    // width: 16px;
    // height: 16px;
    // background-color: transparent;
    background-image: url('./flags/' + $iso + '.gif');
    // background-position: center center;
    background-size: 16px 11px;
    // display: inline;
    // line-height: 16px;

}
.flag,
button.flag {
    &.flag-ad {
        @include flag-icon("ad");
    }
    &.flag-ae {
        @include flag-icon("ae");
    }
    &.flag-af {
        @include flag-icon("af");
    }
    &.flag-ag {
        @include flag-icon("ag");
    }
    &.flag-ai {
        @include flag-icon("ai");
    }
    &.flag-al {
        @include flag-icon("al");
    }
    &.flag-am {
        @include flag-icon("am");
    }
    &.flag-an {
        @include flag-icon("an");
    }
    &.flag-ao {
        @include flag-icon("ao");
    }
    &.flag-ar {
        @include flag-icon("ar");
    }
    &.flag-as {
        @include flag-icon("as");
    }
    &.flag-at {
        @include flag-icon("at");
    }
    &.flag-au {
        @include flag-icon("au");
    }
    &.flag-aw {
        @include flag-icon("aw");
    }
    &.flag-ax {
        @include flag-icon("ax");
    }
    &.flag-az {
        @include flag-icon("az");
    }
    &.flag-ba {
        @include flag-icon("ba");
    }
    &.flag-bb {
        @include flag-icon("bb");
    }
    &.flag-bd {
        @include flag-icon("bd");
    }
    &.flag-be {
        @include flag-icon("be");
    }
    &.flag-bf {
        @include flag-icon("bf");
    }
    &.flag-bg {
        @include flag-icon("bg");
    }
    &.flag-bh {
        @include flag-icon("bh");
    }
    &.flag-bi {
        @include flag-icon("bi");
    }
    &.flag-bj {
        @include flag-icon("bj");
    }
    &.flag-bm {
        @include flag-icon("bm");
    }
    &.flag-bn {
        @include flag-icon("bn");
    }
    &.flag-bo {
        @include flag-icon("bo");
    }
    &.flag-br {
        @include flag-icon("br");
    }
    &.flag-bs {
        @include flag-icon("bs");
    }
    &.flag-bt {
        @include flag-icon("bt");
    }
    &.flag-bv {
        @include flag-icon("bv");
    }
    &.flag-bw {
        @include flag-icon("bw");
    }
    &.flag-by {
        @include flag-icon("by");
    }
    &.flag-bz {
        @include flag-icon("bz");
    }
    &.flag-ca {
        @include flag-icon("ca");
    }
    &.flag-catalonia {
        @include flag-icon("catalonia");
    }
    &.flag-cc {
        @include flag-icon("cc");
    }
    &.flag-cd {
        @include flag-icon("cd");
    }
    &.flag-cf {
        @include flag-icon("cf");
    }
    &.flag-cg {
        @include flag-icon("cg");
    }
    &.flag-ch {
        @include flag-icon("ch");
    }
    &.flag-ci {
        @include flag-icon("ci");
    }
    &.flag-ck {
        @include flag-icon("ck");
    }
    &.flag-cl {
        @include flag-icon("cl");
    }
    &.flag-cm {
        @include flag-icon("cm");
    }
    &.flag-cn {
        @include flag-icon("cn");
    }
    &.flag-co {
        @include flag-icon("co");
    }
    &.flag-cr {
        @include flag-icon("cr");
    }
    &.flag-cs {
        @include flag-icon("cs");
    }
    &.flag-cu {
        @include flag-icon("cu");
    }
    &.flag-cv {
        @include flag-icon("cv");
    }
    &.flag-cx {
        @include flag-icon("cx");
    }
    &.flag-cy {
        @include flag-icon("cy");
    }
    &.flag-cz {
        @include flag-icon("cz");
    }
    &.flag-de {
        @include flag-icon("de");
    }
    &.flag-dj {
        @include flag-icon("dj");
    }
    &.flag-dk {
        @include flag-icon("dk");
    }
    &.flag-dm {
        @include flag-icon("dm");
    }
    &.flag-do {
        @include flag-icon("do");
    }
    &.flag-dz {
        @include flag-icon("dz");
    }
    &.flag-ec {
        @include flag-icon("ec");
    }
    &.flag-ee {
        @include flag-icon("ee");
    }
    &.flag-eg {
        @include flag-icon("eg");
    }
    &.flag-eh {
        @include flag-icon("eh");
    }
    &.flag-england {
        @include flag-icon("england");
    }
    &.flag-er {
        @include flag-icon("er");
    }
    &.flag-es {
        @include flag-icon("es");
    }
    &.flag-et {
        @include flag-icon("et");
    }
    &.flag-europeanunion {
        @include flag-icon("europeanunion");
    }
    &.flag-fam {
        @include flag-icon("fam");
    }
    &.flag-fi {
        @include flag-icon("fi");
    }
    &.flag-fj {
        @include flag-icon("fj");
    }
    &.flag-fk {
        @include flag-icon("fk");
    }
    &.flag-fm {
        @include flag-icon("fm");
    }
    &.flag-fo {
        @include flag-icon("fo");
    }
    &.flag-fr {
        @include flag-icon("fr");
    }
    &.flag-ga {
        @include flag-icon("ga");
    }
    &.flag-gb {
        @include flag-icon("gb");
    }
    &.flag-gd {
        @include flag-icon("gd");
    }
    &.flag-ge {
        @include flag-icon("ge");
    }
    &.flag-gf {
        @include flag-icon("gf");
    }
    &.flag-gh {
        @include flag-icon("gh");
    }
    &.flag-gi {
        @include flag-icon("gi");
    }
    &.flag-gl {
        @include flag-icon("gl");
    }
    &.flag-gm {
        @include flag-icon("gm");
    }
    &.flag-gn {
        @include flag-icon("gn");
    }
    &.flag-gp {
        @include flag-icon("gp");
    }
    &.flag-gq {
        @include flag-icon("gq");
    }
    &.flag-gr {
        @include flag-icon("gr");
    }
    &.flag-gs {
        @include flag-icon("gs");
    }
    &.flag-gt {
        @include flag-icon("gt");
    }
    &.flag-gu {
        @include flag-icon("gu");
    }
    &.flag-gw {
        @include flag-icon("gw");
    }
    &.flag-gy {
        @include flag-icon("gy");
    }
    &.flag-hk {
        @include flag-icon("hk");
    }
    &.flag-hm {
        @include flag-icon("hm");
    }
    &.flag-hn {
        @include flag-icon("hn");
    }
    &.flag-hr {
        @include flag-icon("hr");
    }
    &.flag-ht {
        @include flag-icon("ht");
    }
    &.flag-hu {
        @include flag-icon("hu");
    }
    &.flag-id {
        @include flag-icon("id");
    }
    &.flag-ie {
        @include flag-icon("ie");
    }
    &.flag-il {
        @include flag-icon("il");
    }
    &.flag-in {
        @include flag-icon("in");
    }
    &.flag-io {
        @include flag-icon("io");
    }
    &.flag-iq {
        @include flag-icon("iq");
    }
    &.flag-ir {
        @include flag-icon("ir");
    }
    &.flag-is {
        @include flag-icon("is");
    }
    &.flag-it {
        @include flag-icon("it");
    }
    &.flag-jm {
        @include flag-icon("jm");
    }
    &.flag-jo {
        @include flag-icon("jo");
    }
    &.flag-jp {
        @include flag-icon("jp");
    }
    &.flag-ke {
        @include flag-icon("ke");
    }
    &.flag-kg {
        @include flag-icon("kg");
    }
    &.flag-kh {
        @include flag-icon("kh");
    }
    &.flag-ki {
        @include flag-icon("ki");
    }
    &.flag-km {
        @include flag-icon("km");
    }
    &.flag-kn {
        @include flag-icon("kn");
    }
    &.flag-kp {
        @include flag-icon("kp");
    }
    &.flag-kr {
        @include flag-icon("kr");
    }
    &.flag-kw {
        @include flag-icon("kw");
    }
    &.flag-ky {
        @include flag-icon("ky");
    }
    &.flag-kz {
        @include flag-icon("kz");
    }
    &.flag-la {
        @include flag-icon("la");
    }
    &.flag-lb {
        @include flag-icon("lb");
    }
    &.flag-lc {
        @include flag-icon("lc");
    }
    &.flag-li {
        @include flag-icon("li");
    }
    &.flag-lk {
        @include flag-icon("lk");
    }
    &.flag-lr {
        @include flag-icon("lr");
    }
    &.flag-ls {
        @include flag-icon("ls");
    }
    &.flag-lt {
        @include flag-icon("lt");
    }
    &.flag-lu {
        @include flag-icon("lu");
    }
    &.flag-lv {
        @include flag-icon("lv");
    }
    &.flag-ly {
        @include flag-icon("ly");
    }
    &.flag-ma {
        @include flag-icon("ma");
    }
    &.flag-mc {
        @include flag-icon("mc");
    }
    &.flag-md {
        @include flag-icon("md");
    }
    &.flag-me {
        @include flag-icon("me");
    }
    &.flag-mg {
        @include flag-icon("mg");
    }
    &.flag-mh {
        @include flag-icon("mh");
    }
    &.flag-mk {
        @include flag-icon("mk");
    }
    &.flag-ml {
        @include flag-icon("ml");
    }
    &.flag-mm {
        @include flag-icon("mm");
    }
    &.flag-mn {
        @include flag-icon("mn");
    }
    &.flag-mo {
        @include flag-icon("mo");
    }
    &.flag-mp {
        @include flag-icon("mp");
    }
    &.flag-mq {
        @include flag-icon("mq");
    }
    &.flag-mr {
        @include flag-icon("mr");
    }
    &.flag-ms {
        @include flag-icon("ms");
    }
    &.flag-mt {
        @include flag-icon("mt");
    }
    &.flag-mu {
        @include flag-icon("mu");
    }
    &.flag-mv {
        @include flag-icon("mv");
    }
    &.flag-mw {
        @include flag-icon("mw");
    }
    &.flag-mx {
        @include flag-icon("mx");
    }
    &.flag-my {
        @include flag-icon("my");
    }
    &.flag-mz {
        @include flag-icon("mz");
    }
    &.flag-na {
        @include flag-icon("na");
    }
    &.flag-nc {
        @include flag-icon("nc");
    }
    &.flag-ne {
        @include flag-icon("ne");
    }
    &.flag-nf {
        @include flag-icon("nf");
    }
    &.flag-ng {
        @include flag-icon("ng");
    }
    &.flag-ni {
        @include flag-icon("ni");
    }
    &.flag-nl {
        @include flag-icon("nl");
    }
    &.flag-no {
        @include flag-icon("no");
    }
    &.flag-np {
        @include flag-icon("np");
    }
    &.flag-nr {
        @include flag-icon("nr");
    }
    &.flag-nu {
        @include flag-icon("nu");
    }
    &.flag-nz {
        @include flag-icon("nz");
    }
    &.flag-om {
        @include flag-icon("om");
    }
    &.flag-pa {
        @include flag-icon("pa");
    }
    &.flag-pe {
        @include flag-icon("pe");
    }
    &.flag-pf {
        @include flag-icon("pf");
    }
    &.flag-pg {
        @include flag-icon("pg");
    }
    &.flag-ph {
        @include flag-icon("ph");
    }
    &.flag-pk {
        @include flag-icon("pk");
    }
    &.flag-pl {
        @include flag-icon("pl");
    }
    &.flag-pm {
        @include flag-icon("pm");
    }
    &.flag-pn {
        @include flag-icon("pn");
    }
    &.flag-pr {
        @include flag-icon("pr");
    }
    &.flag-ps {
        @include flag-icon("ps");
    }
    &.flag-pt {
        @include flag-icon("pt");
    }
    &.flag-pw {
        @include flag-icon("pw");
    }
    &.flag-py {
        @include flag-icon("py");
    }
    &.flag-qa {
        @include flag-icon("qa");
    }
    &.flag-re {
        @include flag-icon("re");
    }
    &.flag-ro {
        @include flag-icon("ro");
    }
    &.flag-rs {
        @include flag-icon("rs");
    }
    &.flag-ru {
        @include flag-icon("ru");
    }
    &.flag-rw {
        @include flag-icon("rw");
    }
    &.flag-sa {
        @include flag-icon("sa");
    }
    &.flag-sb {
        @include flag-icon("sb");
    }
    &.flag-sc {
        @include flag-icon("sc");
    }
    &.flag-scotland {
        @include flag-icon("scotland");
    }
    &.flag-sd {
        @include flag-icon("sd");
    }
    &.flag-se {
        @include flag-icon("se");
    }
    &.flag-sg {
        @include flag-icon("sg");
    }
    &.flag-sh {
        @include flag-icon("sh");
    }
    &.flag-si {
        @include flag-icon("si");
    }
    &.flag-sj {
        @include flag-icon("sj");
    }
    &.flag-sk {
        @include flag-icon("sk");
    }
    &.flag-sl {
        @include flag-icon("sl");
    }
    &.flag-sm {
        @include flag-icon("sm");
    }
    &.flag-sn {
        @include flag-icon("sn");
    }
    &.flag-so {
        @include flag-icon("so");
    }
    &.flag-sr {
        @include flag-icon("sr");
    }
    &.flag-st {
        @include flag-icon("st");
    }
    &.flag-sv {
        @include flag-icon("sv");
    }
    &.flag-sy {
        @include flag-icon("sy");
    }
    &.flag-sz {
        @include flag-icon("sz");
    }
    &.flag-tc {
        @include flag-icon("tc");
    }
    &.flag-td {
        @include flag-icon("td");
    }
    &.flag-tf {
        @include flag-icon("tf");
    }
    &.flag-tg {
        @include flag-icon("tg");
    }
    &.flag-th {
        @include flag-icon("th");
    }
    &.flag-tj {
        @include flag-icon("tj");
    }
    &.flag-tk {
        @include flag-icon("tk");
    }
    &.flag-tl {
        @include flag-icon("tl");
    }
    &.flag-tm {
        @include flag-icon("tm");
    }
    &.flag-tn {
        @include flag-icon("tn");
    }
    &.flag-to {
        @include flag-icon("to");
    }
    &.flag-tr {
        @include flag-icon("tr");
    }
    &.flag-tt {
        @include flag-icon("tt");
    }
    &.flag-tv {
        @include flag-icon("tv");
    }
    &.flag-tw {
        @include flag-icon("tw");
    }
    &.flag-tz {
        @include flag-icon("tz");
    }
    &.flag-ua {
        @include flag-icon("ua");
    }
    &.flag-ug {
        @include flag-icon("ug");
    }
    &.flag-um {
        @include flag-icon("um");
    }
    &.flag-us {
        @include flag-icon("us");
    }
    &.flag-uy {
        @include flag-icon("uy");
    }
    &.flag-uz {
        @include flag-icon("uz");
    }
    &.flag-va {
        @include flag-icon("va");
    }
    &.flag-vc {
        @include flag-icon("vc");
    }
    &.flag-ve {
        @include flag-icon("ve");
    }
    &.flag-vg {
        @include flag-icon("vg");
    }
    &.flag-vi {
        @include flag-icon("vi");
    }
    &.flag-vn {
        @include flag-icon("vn");
    }
    &.flag-vu {
        @include flag-icon("vu");
    }
    &.flag-wales {
        @include flag-icon("wales");
    }
    &.flag-wf {
        @include flag-icon("wf");
    }
    &.flag-ws {
        @include flag-icon("ws");
    }
    &.flag-ye {
        @include flag-icon("ye");
    }
    &.flag-yt {
        @include flag-icon("yt");
    }
    &.flag-za {
        @include flag-icon("za");
    }
    &.flag-zm {
        @include flag-icon("zm");
    }
    &.flag-zw {
        @include flag-icon("zw");
    }
}
